# Pandas data wrangling - Exercise 3

### 1. Go to https://www.kaggle.com/rounakbanik/the-movies-dataset?select=movies_metadata.csv and download the `movies_metadata.csv` file to your computer and unzip it. Load it to a DataFrame called `movies`

In [5]:
import pandas as pd
import numpy as np
import datetime as dt

filename = 'movies_metadata.csv'
movies = pd.read_csv(filename)
movies.head()

C:\Users\arjo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### 2. Create feature collection_name from json string data in `belongs_to_collection`

### 3. Count movies per decade

In [6]:
release_date = movies.release_date.dropna()
release_date = pd.to_datetime(release_date, errors = 'coerce')
release_decade = release_date.apply(lambda x: (x.year//10)*10).dropna().astype(int)
release_decade.value_counts().sort_index(ascending = False)

2020        1
2010    12799
2000    11207
1990     5677
1980     3931
1970     3472
1960     2622
1950     2080
1940     1494
1930     1317
1920      432
1910      176
1900       87
1890       75
1880        4
1870        2
Name: release_date, dtype: int64

### 4. Show average revenue depending on the weekday (Mon, Tue, ...) on the release date.

In [7]:
movies['release_date'] = pd.to_datetime(movies['release_date'], errors = 'coerce').dropna()
revenue = movies[['release_date', 'revenue']].dropna()
revenue['weekday'] = revenue.release_date.apply(lambda x: x.weekday())
revenue.groupby('weekday')['revenue'].mean()

weekday
0    7.029549e+06
1    1.157345e+07
2    1.902308e+07
3    1.519217e+07
4    1.072821e+07
5    3.900390e+06
6    3.817560e+06
Name: revenue, dtype: float64

### 5. How many movies have "Story" (case-insensitive) in their title, for each decade?

In [8]:
titles = movies[['release_date', 'original_title']].dropna()
titles['release_decade'] = titles.release_date.apply(lambda x: (x.year//10)*10)
titles['contains_story'] = titles.original_title.str.contains("Story")
titles.groupby('release_decade')['contains_story'].sum()

release_decade
1870      0
1880      0
1890      0
1900      2
1910      0
1920      1
1930      6
1940     12
1950     30
1960      7
1970      5
1980     22
1990     40
2000     79
2010    117
2020      0
Name: contains_story, dtype: int64

### 6. For each genre, create a column with 1 or 0, depending on whether a movie belongs to it.

### 7. Drop all movies which don't have a hompage

In [9]:
print(movies.homepage.isnull().sum())
movies = movies.dropna(subset = ['homepage'])
print(movies.homepage.isnull().sum())
#movies.info()

37684
0

### 8. Calculate net earnings per movie

In [10]:
subset = movies[['budget', 'revenue']]
subset = subset[~subset['budget'].str.contains('jpg')].astype(float)
subset['revenue'] - subset['budget']

0        343554033.0
9        294194034.0
24        46200000.0
46       294311859.0
49        17341568.0
            ...
45391            0.0
45392            0.0
45395     -1200000.0
45398     -1254040.0
45461            0.0
Length: 7779, dtype: float64

### 9. Get three most profitable movies per original language

### 10. Calculate the z-score of each movie's rating, relative to it's genre