# Introduction
In this exercise, we're going to do Natural Language Processing (NLP) regarding disaster tweets. The data used for this is retrieved at the following [link](https://www.kaggle.com/c/nlp-getting-started/overview).

In [62]:
# Importing the necessary modules
import pandas as pd
import numpy as np
from nltk.tokenize.regexp import regexp_tokenize
from langdetect import detect
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix
import re

# Data preparation
In this chapter, the data will be imported and cleaned to make it ready for our data analysis

## Data import

In [63]:
# Import the data using pandas
trainset = pd.read_csv("train.csv")
testset = pd.read_csv("test.csv")

trainset.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

## Cleaning
In this paragraph, we'll clean the two datasets. We'll do that by performing the next steps:
- Dealing with null values
- Cleaning text for keyword and location column
- Cleaning text data (remove url, HTMLs, emojies, hastags)
- Remove unnecessary features

In [64]:
# Check the datasets using the info method
display(trainset.info())
display(testset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

None

### Dealing with null values

In [65]:
print(f"Null values per column for the train set :\n{trainset.isnull().sum()}")
print(f"Null values per column for the test set:\n{testset.isnull().sum()}")

Null values per column for the train set :
id             0
keyword       61
location    2533
text           0
target         0
dtype: int64
Null values per column for the test set:
id             0
keyword       26
location    1105
text           0
dtype: int64

In [66]:
# Check percentage of null values per column for both datasets
print(f"Null values percentage per column for the train set :\n{trainset.isnull().sum() / trainset.shape[0]}")
print(f"Null values percentage per column for the test set:\n{testset.isnull().sum() / testset.shape[0]}")

Null values percentage per column for the train set :
id          0.000000
keyword     0.008013
location    0.332720
text        0.000000
target      0.000000
dtype: float64
Null values percentage per column for the test set:
id          0.000000
keyword     0.007968
location    0.338645
text        0.000000
dtype: float64

What we see here is that for both train and test set, there are two columns with null values: `location` and `keyword`. For the location column, around 1/3th of the column has no values, whilst the keyword column only has about 0.8 percent of missing data. Since their're both text columns with lots of variety, the best way to deal with the null values, is to use the backward and forward fill method, which fills the null value with the next and previous non-null value.

In [67]:
# Fill the na values with the bfill method
trainset = trainset.bfill(axis = 'rows')
testset = testset.bfill(axis = 'rows')

# Fill the na values with the ffill method
trainset = trainset.ffill(axis = 'rows')
testset = testset.ffill(axis = 'rows')

# Print the null values per column to see if the fill method worked
print(f"Null values per column for the train set :\n{trainset.isnull().sum()}")
print(f"Null values per column for the test set:\n{testset.isnull().sum()}")

Null values per column for the train set :
id          0
keyword     0
location    0
text        0
target      0
dtype: int64
Null values per column for the test set:
id          0
keyword     0
location    0
text        0
dtype: int64

### Cleaning text for keyword and location column

In [68]:
# Create a function that clean the text columns: clean_text
def clean_text(series):
    # Lower to lowercase for each word
    series = series.apply(lambda x: x.lower())
    
    # Remove numbers
    pattern = r"[0-9]"
    series = series.apply(lambda x: re.sub(pattern, ' ', x))
    
    # Remove special character
    pattern = r"[^a-zA-Z0-9]"
    series = series.apply(lambda x: re.sub(pattern, ' ', x))
    
    # Remove URLs
    pattern = r'http\S+'
    series = series.apply(lambda x: re.sub(pattern, ' ', x))
    
    # Remove emojies
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    
    series = series.apply(lambda x: emoji_pattern.sub(r' emoji ', x))
    
    return series

In [70]:
# Apply clean_data function to the keyword and location columns
columns = ['keyword', 'location', 'text']
trainset[columns] = trainset[columns].apply(lambda x: clean_text(x))
testset[columns] = testset[columns].apply(lambda x: clean_text(x))

trainset.head()

,id,keyword,location,text,target
0,1,ablaze,birmingham,our deeds are the reason of this earthquake m...,1
1,4,ablaze,birmingham,forest fire near la ronge sask canada,1
2,5,ablaze,birmingham,all residents asked to shelter in place are ...,1
3,6,ablaze,birmingham,people receive wildfires evacuation or...,1
4,7,ablaze,birmingham,just got sent this photo from ruby alaska as ...,1

### Remove unnecesarry features
In this paragraph, we'll remove unnecesarry features from our dataset. This will be the `id` column

In [73]:
trainset_clean = trainset.drop('id', axis = 1)
testset_clean = testset.drop('id', axis = 1)
trainset_clean.head()

,keyword,location,text,target
0,ablaze,birmingham,our deeds are the reason of this earthquake m...,1
1,ablaze,birmingham,forest fire near la ronge sask canada,1
2,ablaze,birmingham,all residents asked to shelter in place are ...,1
3,ablaze,birmingham,people receive wildfires evacuation or...,1
4,ablaze,birmingham,just got sent this photo from ruby alaska as ...,1

## Creating new features
New features to create:
- number of tokens used in tweet: n_tokens
- Language of the tweet: language
- Length of keyword: len_keyword

## Vectorizer 
Use the alternative of CountVectorizer

# Data analysis

## Data visualization
Things to explore:
- distribution of targets
- word cloud of keywords
-

## Relationships between the data
Using hypothesis testing.
Possible relationships:
- N_tokens and target
- language and n_token
- language and target
- n_tokens and location

# Models
Intro, model building and training
## Model building
Models to use:
- MultinomialNB
- Neural Network using keras
- Support Vector Machine

# Model training
Train on validation set

## Model evaluation

## Findings

# Model selection and final training

# Conclusion
Draw major findings:
- Relationships: both visual and hypothesis testing
- Other findings from visualizations
- Evaluation from models